.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
/app/cache/*
/app/logs/*
/backend/cache/navigation/
/vendor/
/app/config/parameters.yml
/bin/
/bundles/
/js/
/css/



.htaccess
_ignore/*
.editorconfig

.travis.yml

app

apple-touch-icon.png

autoload.php

CHANGELOG.md

composer.json

composer.lock

CONTRIBUTING.md

favicon.ico

index.php

LICENSE.md

phpunit.xml.dist

src/Api
library
src/Backend/Core
src/Backend/init.php
src/Backend/Cache
src/Backend/Modules/Analytics
src/Backend/Modules/*
src/Common
src/ForkCMS
src/Frontend
tools
tile.png

VERSION.md

UPGRADE_3.9.md

UPGRADE_3.8.md

UPGRADE_3.7.md

UPGRADE_3.6.md

UPGRADE_3.11.md

UPGRADE_3.10.md


!src/Backend/Modules/MediaBase
!src/Backend/Modules/Media